.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: thistle;
}

.main-content {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  font-size: 1.5rem;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 1rem;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fbeaff;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}



.main-layout {
  padding: 1rem;
  overflow: auto;
  height: 100%;
    background-color: #fbeaff;

}


