.loader {
  width: 100%;
  min-height: 100vh; /* Always full height */
  background: #d8bfd8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 #large-tri {
  opacity: 0;
  animation: dropIn 5s ease forwards;
  animation-delay: 1s;
}

#medium-tri {
  opacity: 0;
  animation: dropIn 5s ease forwards;
  animation-delay: 2s;
}

#small-tri {
  opacity: 0;
  animation: dropIn 3s ease forwards;
  animation-delay: 2s;
}
.welcome-container {
  text-align: center;
  margin-bottom: 50px; /* Pushes Layout down */
}

.see-work-btn {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #b497d6;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.see-work-btn:hover {
  background-color: #9b70c2;
}


@keyframes dropIn {
  20%{
    opacity: 0;
    transform: translateY(-20%);
  }
  30%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
  

}